.checkoutSuccess {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  z-index: 300;
  left: 0;
  .checkoutSuccess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ffffff;
    border-radius: 5px;
    margin: 0px 10px;
    @media (max-width: 416px) {
        padding: 10px;
    }

    .checkout-icon {
      color: #34ef47;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      padding: 10px;
      border-radius: 50%;
      border: 2px solid #a9c6c9;
    }

    .checkout-title {
        font-weight: 700;
        font-size: 18px;
    }
    .checkout-desc {
        font-weight: 400;
        font-size: 15px;
        // @media (max-width: 396px) {
        //     max-width: 300px;
        // }
    }

    .checkoutSuccess-container-btn {
      display: flex;
      //   align-items: center;
      justify-content: space-between;
      margin: 10px;

      button {
        float: right;
        margin-right: 10px;
        font-size: 16px;
        outline: none;
        border: none;
        border-radius: 5px;
        background: #34ef47;
        color: #ffffff;
        transition: 0.3s ease-in-out;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
          background: #34aa40;
        }
      }
    }
  }
  //   h2 {
  //     display: flex;
  //     flex-wrap: wrap;
  //     font-size: 22px;
  //     color: #f4f4f4;
  //   }
}
