.header {
  justify-content: space-between;
  user-select: none;
  // border-bottom: 3px solid rgb(255, 240, 0);
  // @media (max-width: 632px) {
  //   display: flex;
  //   justify-content: space;
  // }
  .header-second-nav {
    @media (max-width: 1183px) {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @media (max-width: 1302px) {
        gap: 20px;
      }

      @media (max-width: 1273px) {
        gap: 10px;
      }

      @media (max-width: 1244px) {
        gap: 5px;
      }

      li {
        .li-link {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          padding: 10px 15px;
          transition: 0.3s ease-in-out;
          color: #f4f4f4;

          @media (max-width: 1244px) {
            gap: 5px;
          }

          &:hover {
            background: rgb(42, 43, 46);
            color: #f4f4f4;
          }

          .header-second-nav-title {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            @media (max-width: 1207px) {
              font-size: 13px;
            }
          }

          .header-second-nav-icon {
            font-size: 14px;
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 505px) {
  // .contactUs {
  //   display: none;
  // }
}

.logo-ibendouma {
  @media (max-width: 443px) {
    margin-left: -10px;
  }

  // @media (max-width: 400px) {
  //   margin-left: -15px;
  // }
  .image-logo {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    // margin-top: 30px;
    @media (max-width: 790px) {
      width: 100px;
      height: 100px;
    }
    @media (max-width: 443px) {
      width: 80px;
      height: 80px;
    }
    @media (max-width: 359px) {
      width: 75px;
      height: 75px;
    }
  }
  @media (max-width: 280px) {
    // width: 75px;
    //   height: 75px;
  }
}

// .user-last-french {
//   display: flex;
//   gap: 8px;
//   margin-right: 8px;
//   align-items: center;
// }
.idCorrect {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-right: 5px;
  position: relative;

  .cart-toggle-product {
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    top: 100%;
    left: -180%;
    border-radius: 8px;
    padding: 10px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .icon-close {
      color: #000;
      position: absolute;
      top: -1%;
      left: 92%;
      font-size: 19px;
      cursor: pointer;
    }
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      // min-width: 300px;
      margin-top: 10px;
      img {
        width: 25px;
        height: 25px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      span {
        color: black;
        font-size: 12px;
      }
      .cart-trash {
        color: #ad0000;
        font-size: 13px;
        cursor: pointer;
      }
    }
    span {
      color: blue;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .empty-cart {
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 80%;
    left: -120%;
    padding: 10px;
    border-radius: 8px;
    padding: 10px;
    z-index: 999;
    width: 200px;

    @media (max-width: 445px) {
      left: -400%;
    }

    @media (max-width: 307px) {
      left: -420%;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: gray;
      margin-top: 10px;
    }

    .cart-icon {
      font-size: 30px;
      color: #000;
      cursor: pointer;
    }

    .icon-close {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      position: absolute;
      top: 1%;
      left: 90%;
      font-size: 30px;
      cursor: pointer;
      color: #7216da;
    }
  }

  // @media (max-width: 440px) {
  //   gap: 5px;
  // }
  // @media (max-width: 382px) {
  //   gap: 0px;
  // }

  .iconUser {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5 ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -2px;
    .img-user-person {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 426px) {
        width: 35px;
        height: 35px;
      }
      @media (max-width: 385px) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: 381px) {
        width: 25px;
        height: 25px;
      }
      @media (max-width: 280px) {
        width: 15px;
        height: 15px;
      }
    }
    .revealAccount {
      z-index: 100;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      background: #fff;
      color: #000;
      left: -180%;
      top: 90%;
      width: 180px;
      border-radius: 5px;
      user-select: none;
      span {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        color: #000;
        &:hover {
          color: #ad0000;
        }
      }
      .link-profil {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          color: #333333;
        }
      }
      .sepa {
        border-bottom: 1px solid #000;
        width: 100%;
        margin: 5px 0px;
      }
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    @media (max-width: 445px) {
      display: none;
    }
  }
}

.menu-container {
  .hamburger-menu {
    color: #f4f4f4;
    margin-right: 10px;
    font-size: 34px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
    @media (max-width: 445px) {
      display: block;
    }
    @media (max-width: 377px) {
      margin-right: 7px;
      font-size: 30px;
    }
  }
}

.acountUser {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5px;

  @media (max-width: 620px) {
    display: none;
  }

  .btnToLog {
    font-size: 17px;
    padding: 10px 5px;
    border: none;
    background: #e7c80b;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(255, 240, 0, 0.3) 0px 1px 2px 0px,
      rgba(255, 240, 0, 0.15) 0px 2px 6px 2px;

    @media (max-width: 514px) {
      font-size: 15px;
      padding: 5px;
    }

    @media (max-width: 388px) {
      font-size: 13px;
      padding: 3px;
    }

    &:hover {
      background: rgb(255, 240, 0);
    }
  }
}

.menu-container {
  .hamburger-menu {
    color: #f4f4f4;
    margin-right: 10px;
    font-size: 34px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
    @media (max-width: 472px) {
      // display: block;
    }
    @media (max-width: 377px) {
      margin-right: 7px;
      font-size: 30px;
    }
  }
}

.logo-icon-displays {
  margin-top: 2px;
  a {
    img {
      width: 17px;
      height: 17px;
    }
    // .img-h {
    //   display: none;
    // }
  }

  @media (max-width: 358px) {
    margin-left: 2px;
  }
}

.logo-discord {
  // @media (max-width: 445px) {
  //   display: none;
  // }
}

.panier-empty1 {
  cursor: pointer;
  &:hover + div {
    display: flex;
  }
}

.panier-empty2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  padding: 10px 15px;
  background-color: rgb(56, 56, 56);
  color: #f4f4f4;
  height: 100px;
  display: none;
  border-radius: 5px;
  @media (max-width: 514px) {
    left: 65%;
  }

  @media (max-width: 437px) {
    left: 60%;
  }

  @media (max-width: 376px) {
    left: 55%;
  }

  @media (max-width: 327px) {
    left: 50%;
  }

  @media (max-width: 298px) {
    left: 47%;
  }

  span {
    @media (max-width: 514px) {
      font-size: 12px;
    }
  }
}

.currency-exchange {
  @media (max-width: 385px) {
    font-size: 12px;
  }
}

.skype-display {
  @media (max-width: 280px) {
    display: none;
  }
}

.insta {
  font-size: 18px;
  transition: 0.3s ease-in-out;
  color: #f4f4f4;
  &:hover {
    opacity: 0.8;
  }
}

.support {
  font-size: 22px;
  color: #f4f4f4;
  margin-top: -1px;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

// .currency-changes-mar {
//   @media (max-width: 280px) {
//     margin-left: 0px;
//   }
// }

.re-moveplays {
  @media (max-width: 333px) {
    display: none;
  }
}
