.productdescription {
  display: flex;
  margin: 20px 0px;
  line-height: 25px;
  text-align: justify;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  background: rgba(244, 244, 244, 0.8);
  padding: 20px;
  border-radius: 5px;
}
