@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Poppins&display=swap");
.search-component {
  position: absolute;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  max-height: 290px;
  overflow-y: auto;
  z-index: 2000;
  color: black;
  cursor: pointer;
  border-radius: 5px;

  @media (max-width: 556px) {
    width: 320px;
  }
  .all_users-mar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    .allusers_users {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
      }
      p {
        margin: 0px 5px;
        font-family: "Poppins", sans-serif;
        font-size: 8px;
      }
      span {
        margin-left: 10px;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        font-size: 8px;
      }
    }
  }
}
