.sidedrawer {
  width: 70%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  &.show {
    transform: translateX(0);
  }

  .sidedrawer-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    img {
      width: 100px;
      height: 100px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .sidedrawer-closeIcon {
      font-size: 32px;
      color: #0b0809;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .sidedrawer-second {
    margin: -30px 10px;
    ul {
      display: flex;
      flex-direction: column;
      margin: 10px 0px;

      li {
        display: flex;
        margin: 0px 10px;

        a {
          display: flex;
          text-decoration: none;
          padding: 5px 10px;
          font-size: 15px;
          color: #0b0809;
          font-weight: 400;
          position: relative;

          &:hover {
            color: #ad0000;
          }
        }
      }
    }
  }

  .sidedrawer-third {
    margin: 30px 28px 10px;
    p {
      line-height: 25px;
      background: #0b0809;
      color: #f4f4f4;
      padding: 10px;
      // text-align: center;
      font-size: 12px;
      border-radius: 5px;
      span {
        color: #fddd00;
      }
    }
  }

  .sidedrawer-fourth {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      cursor: pointer;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: 0.4s ease-in-out;
      &:hover {
        background: #0b0809;
        color: #f4f4f4;
      }
    }
    a {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: 0.4s ease-in-out;
        color: #0b0809;
        &:hover {
          background: #0b0809;
          color: #f4f4f4;
        }
      }
    }
  }
}
