@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --color-bg: #eeedeb;
  --color-title: #0e1c4e;

  --color-summary-1: #fff6ee;
  --color-summary-1-highlight: #ffc48b;
  --color-summary-2: #fafaff;
  --color-summary-2-highlight: #b4b3ff;
  --color-summary-3: #fff0f3;
  --color-summary-3-highlight: #ffb3c0;

  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .orders-components {
  }

  .image-left {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: -40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.homepage-service {
  @media (max-width: 1139px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.product_acount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  // background: #f6f6f6;
  // padding: 20px;
}

.services-infos {
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  gap: 20px;
  margin: 100px auto;
  border-radius: 5px;
  @media (max-width: 1141px) {
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
  }
  @media (max-width: 979px) {
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 5px;
  margin-right: 5px;
  // @media (max-width: 1139px) {
  //   flex-wrap: wrap;
  // }
  h4 {
    font-weight: 600;
    // color: rgb(244, 244, 244);
    font-size: 16px;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-title);
  }
  img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
  span {
    // color: rgb(244, 244, 244);
    font-size: 16px;
    max-width: 300px;
    // font-family: "Roboto", sans-serif;
    // background: #0f4160;
    margin-top: -5px;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-title);
    text-align: center;
  }

  @media (max-width: 445px) {
    display: none;
  }
}

.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 13px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #757575;
  }
}

.home-skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0px 10px;
  flex-wrap: wrap;
}

.dofus-another-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: -415px;
  @media (max-width: 1309px) {
    margin-left: 0px;
  }

  @media (max-width: 839px) {
    flex-direction: column;
  }
  .dofus-another-item-lesdofus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 400px;
    @media (max-width: 417px) {
      width: 390px;
    }

    @media (max-width: 395px) {
      width: 370px;
    }

    @media (max-width: 375px) {
      width: 350px;
    }

    @media (max-width: 357px) {
      width: 335px;
    }

    @media (max-width: 341px) {
      width: 315px;
    }

    @media (max-width: 327px) {
      width: 300px;
    }

    @media (max-width: 313px) {
      width: 290px;
    }

    @media (max-width: 303px) {
      width: 280px;
    }

    @media (max-width: 291px) {
      width: 271px;
    }

    img {
      width: 100%;
      height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .btn {
      width: 100%;
      margin-top: -5px;
      button {
        outline: none;
        border: none;
        font-weight: 600;
        color: #3f3f3f;
        background: #fff;
        font-size: 15px;
        padding: 17px;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        &:hover {
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }

  .dofus-another-item-paysafecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 400px;
    @media (max-width: 417px) {
      width: 390px;
    }

    @media (max-width: 395px) {
      width: 370px;
    }

    @media (max-width: 375px) {
      width: 350px;
    }

    @media (max-width: 357px) {
      width: 335px;
    }
    @media (max-width: 341px) {
      width: 315px;
    }

    @media (max-width: 327px) {
      width: 300px;
    }

    @media (max-width: 313px) {
      width: 290px;
    }
    @media (max-width: 303px) {
      width: 280px;
    }

    @media (max-width: 291px) {
      width: 271px;
    }

    img {
      width: 100%;
      height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .btn2 {
      width: 100%;
      margin-top: -5px;
      button {
        outline: none;
        border: none;
        font-weight: 600;
        color: #3f3f3f;
        background: #fff;
        font-size: 15px;
        padding: 17px;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        &:hover {
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }
}
