@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: calc(100% - 120px);
  // background: url("../assets/dofus1.png");
  background: rgba(0, 0, 0, 0.9);
  // background: #f6f6f6;
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;

  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  list-style-type: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  /* text-transform: uppercase; */
}
